<!doctype html>
<html>
  <head>
  	<title>Is today a Jewish holiday?</title>
     <link href="/styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>

      <%= yield %>
    </div>
    
  </body>
</html>